# Kata 8

### Problema 1

Miguel Angel Gómez Moreno

In [6]:
#iimpresión de las llaves del diccionario
planet={"name":"Mars", "moons":2}
print("El planeta {} tine {} lunas".format(planet["name"],planet["moons"]))

El planeta Mars tine 2 lunas

In [12]:
planet.update({"circumference (km)" :{"polar": 6752,"equatorial": 6792}})

In [14]:
print(f'{planet["name"]} tiene una circunferencia polar de {planet["circumference (km)"]["polar"]}')

Mars has a polar circumference of 6752

### Problema 2

In [15]:
# Planets and moons

planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [16]:
moons= planet_moons.values()
planets= planet_moons.keys()

In [21]:
#Suma todos los valores de la lista
total_moons=sum(moons)
average = total_moons/len(planets)

In [20]:
print("el total de lunas de nuestro sistema solar es de {} y en promedio es {}".format(total_moons,average))

el total de lunas de nuestro sistema solar es de 214 y en promedio es 17.833333333333332